<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PokeFav</title>
</head>

<body>
	<h1>Welcome to PokeFav</h1>

	<hr>
	Did you always want to "catch 'em' all" as a child but didn't have the money for the games?<br>
	Then you should be playing Pokemon GO. But if that doesn't appeal to you, you can get your own 
	personal collection of pokemon right here.
	<hr>
	<ul>
	<li>Search pokemon <a href="/search">Search</a></li>
	<li>See all your favorite pokemon as a table <a href="/viewAll">View Table</a></li>
	<li>Remove all favorite pokemon <a href="/removeApp">Remove all Pokemon</a></li>
	</ul>
	<hr>
</body>

</html>
