<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PokeFav</title>
    <link rel="icon" type="image/x-icon" href="/images/myBall.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Crimson+Pro"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>Welcome to PokeFav</h1>
    <fieldset>
      <hr />
      Did you always want to "catch 'em' all" as a child but didn't have the
      money for the games?<br />
      Then you should be playing Pokemon GO. <br />
      But if that doesn't appeal to you, you can get your own personal
      collection of pokemon right here.
      <hr />

      Search pokemon <a href="/search">Search</a><br />
      See all your favorite pokemon as a table <a href="/viewAll">View Table</a
      ><br />
      Remove all favorite pokemon <a href="/removeApp">Remove all Pokemon</a
      ><br />
      View source code for this project
      <a href="https://github.com/shearerw/PokeFav">View Source Code</a><br />
      <hr />
      This website is not affiliated with
      <a href="https://www.pokemon.com/us/legal/">Pokemon or Nintendo.</a>
    </fieldset>
  </body>
</html>
