<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="/images/myBall.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>Error Pokemon Not Found</h1>
    <fieldset>
      <hr />
      You may have mispelled a pokemon's name. In any case, the API returned
      nothing.
      <hr />
    </fieldset>
    <a href="/">HOME</a>
    <a href="/search">SEARCH</a>
    <a href="/viewAll">VIEWALL</a>
  </body>
</html>
