<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Error</title>
	<link rel="icon" type="image/x-icon" href="/images/myBall.ico">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Error Pokemon Not Found</h1>
		You may have mispelled a pokemon's name. In any case, the API returned nothing.
	<hr>
	<a href="http://localhost:<%- port %>/">HOME</a>
	<a href="http://localhost:<%- port %>/search">SEARCH</a>
</body>

</html>
