<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Error</title>
</head>

<body>
	<h1>Error Pokemon Not Found</h1>
		You may have mispelled a pokemon's name. In any case, the API returned nothing.
	<hr>
	<a href="http://localhost:<%- port %>/">HOME</a>
</body>

</html>
