<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed</title>
</head>

<body>
	<h1>Removal of Pokemon</h1>
	<%- numApp %> Pokemon has/have been removed from your favorites list.
	<br>
	<br>
	<a href="http://localhost:<%- port %>/">HOME</a>
</body>

</html>
