<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove</title>
</head>

<body>
	<h1>Removing All Applicants</h1>
	<form action="http://localhost:<%- port1 %>/removeConfirm" method="post" onsubmit="return validate()">

		<input type="submit" value="Remove all Applicants"/>
		<hr>
	</form>
	<script>
		function validate(){
			if(window.confirm("Are you sure you want to remove all favorite pokemon? This action cannot be undone")){
    				return true;
    			} else {

    				return false;
    			}
    		}
	</script>
	<a href="http://localhost:<%- port %>/">HOME</a>
</body>

</html>
