<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search</title>
	<link rel="icon" type="image/x-icon" href="/images/myBall.ico">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<h1>Search</h1>
	<form action="http://localhost:<%- port1 %>/searchConfirmation" method="post" onsubmit="return validate()">
		<fieldset>
            
			<label><strong>Name:</strong> <input type="text" name="name"/></label><br>
			Make sure to use all lowercase!<br>
			<table border="1" class="tbl">
				<tr>
					<th>
						Some Popular Pokemon
					</th>
					<td>charizard</td>
					<td>gengar</td>
					<td>arcanine</td>
					<td>eevee</td>
					<td>dragonite</td><td>squirtle</td><td>bulbasaur</td>
				</tr>
				<tr>
					<th>
						Personal Favorites
					</th>
					<td>mudkip</td><td>wooper</td><td>quagsire</td><td>trubbish</td><td>stufful</td>
					<td>lickitung</td><td>munchlax</td>
				</tr>
			</table>
			<a href="https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number">More Pokemon</a>
			<br>Please be aware that regional and deoxys forms are not accounted for
			
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Search"/>
	</form>
	<script>
		/*function validate(){
			if(window.confirm("Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.")){
    				return true;
    			} else {

    				return false;
    			}
    		}*/
	</script>
	<br>
	<a href="http://localhost:<%- port %>/">HOME</a>
	<a href="http://localhost:<%- port %>/viewAll">VIEWALL</a>
</body>

</html>
