<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Favorites</title>
    <link rel="icon" type="image/x-icon" href="/images/myBall.ico" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    
    <fieldset>
		<h1>Favorite Pokemon</h1>
      <form
        action="http://localhost:<%- port %>/removeOne"
        method="post"
        onsubmit="return validate()"
      >
        <label
          ><strong>Remove by Name:</strong> <input type="text" name="name"
        /></label>
        <input type="submit" value="Remove" />
        <input type="reset" />

        <br />
        <hr />
        <%- table %>
      </form>
    </fieldset>
    <a href="http://localhost:<%- port %>/">HOME</a>
    <a href="http://localhost:<%- port %>/search">SEARCH</a>
  </body>
</html>
